extends layout

block content
  h1= title
  br
  ul.list-container
    for game in game_list
      li 
        a(href='/game/' + game._id)= game.title
        p.producer by #{game.producer.company}
        p.year= game.premiere
        br
        br
