extends layout

block content 
  
  h1 #{title}
  
  div
    form(method='POST' action='')
      label(for='label') * Genre:
      input#label(type='text', placeholder='First-person Shooter (FPS)' name='label' value=(genre === undefined ? '' : genre.label))
      br
      label(for='auth') * Are you authorized? Prove it with the password:
      input(type='password' name='auth' id='auth')
      br
      p.required * - required
      
      if genre
        button.btn.btn-create(type='submit')
          span UPDATE
      else
        button.btn.btn-create(type='submit')
          span CREATE
  
  if errors
    br
    ul
    div.errors
      for error in errors
        li.error-msg 	&#10060; #{error.msg}
