extends layout

block content 
  
  h1 #{title}
  
  div
    form(method='POST' action='')
      label(for='name') * Platform type:
      input#name(type='text', placeholder='Console' name='name' value=(platform === undefined ? '' : platform.name))
      br
      label(for='detail') * Name of platform:
      input#detail(type='text', placeholder='Xbox 360' name='detail' value=(platform === undefined ? '' : platform.detail))
      br
      label(for='auth') * Are you authorized? Prove it with the password:
      input(type='password' name='auth' id='auth')
      br
      p.required * - required
        
      if platform
        button.btn.btn-create(type='submit')
          span UPDATE
      else
        button.btn.btn-create(type='submit')
          span CREATE
  
  if errors
    br
    ul
    div.errors
      for error in errors
        li.error-msg 	&#10060; #{error.msg}
