extends layout

block content
  
  if (referrer === 'platforms')
    h3
      a(href='../platforms') &#8636; Back to List of Platforms
  else if (referrer === 'update')
  else if (referrer === 'delete')
  else if (referrer === 'create')
  else
    h3
      a(href='../game/' + referrer) &#8636; Back to Game Page
  
  h1.platform-title #{platform.detail}
  p Type: #{platform.name}

  div.btn-wrapper
    div(class="btn btn-update")
      a(href=platform.url + '/update')
        span UPDATE
    div(class="btn btn-delete")
      a(href=platform.url + '/delete')
        span DELETE
