extends layout

block content
  
  if (referrer === 'delete')
    h3.deleted-msg Producer deleted!
  
  h1= title
  
  ul.list-container
    for producer in producer_list
      li.simple-list
        a(href='/producer/' + producer._id)= producer.company
        span est. #{producer.established}
