extends layout

block content 
  
  h1 #{title}
  
  div
    form(method='POST' action='')
      label(for='company') Company name:
      input#company(type='text', placeholder='CD Projekt Red' name='company' value=(producer === undefined ? '' : producer.company))
      br
      label(for='established') Established in (year):
      input#established(type='number', placeholder='1994' name='established' value=(established === undefined ? '' : producer.established))
        
      button.btn.btn-create(type='submit')
        span CREATE
  
  if errors
    br
    ul
    div.errors
      for error in errors
        li.error-msg 	&#10060; #{error.msg}
