/* =====================================
RESET
====================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =====================================
BODY
====================================== */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background: url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/iss061e110433.jpg') no-repeat center center fixed;
  background-size: cover;
  font-size: 16px;
}

p {
  font-size: 16px;
  color: lightgrey;
}

h1 {
  font-size: 24px;
  font-family: 'Chelsea Market', cursive;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: lightgrey;
  padding: 10px;
}

a:hover {
  color: white;
}

span {
  color: rgb(155,158,161);
}

/* =======================
LAYOUT
======================= */

.menu {
  display: flex;
  padding: 10px;
  height: 55px;
  margin-bottom: 40px;
}

.logo {
  font-weight: bold;
  left: 5px;
  top: 5px;
  width: 150px;
  background-color: rgb(65,93,65);
  border-radius: 5px;
}

.logo p {
  text-align: center;
  font-size: 20px;
  padding: 0;
  font-family: 'Chelsea Market', cursive;
  color: rgb(192,204,191);
}

.menu ul {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  font-family: 'Chelsea Market', cursive;
}

ul {
  list-style-type: none;
}

.sidebar ul li {
  padding-top: 10px;
}

.sidebar {
  float: left;
  width: 160px;
  height: calc(100vh - 120px);
  font-family: 'Chelsea Market', cursive;
  font-weight: bold;
  padding-left: 30px;
}

.link-home {
  padding: 0;
}
.link-home:hover {
  cursor: pointer;
}

/* =========================
INDEX
========================== */

.welcome {
  margin-bottom: 5px;
}

.index {
  margin-bottom: 4px;
}

/* ========================
LIST PAGES
========================= */

.list-container {
  width: 65vw;
  position: relative;
  margin-left: 190px;
  min-width: 420px;
}

.year,
.producer {
  text-align: right;
}

.simple-list {
  line-height: 1.5;
}

.platform-name {
  font-weight: bold;
  color: white;
  line-height: 2.5;
}

.platform-detail {
  color: rgb(142,159,159);
  margin-left: 15px;
}
